.olvide-contraseña{
    width: 90%;
    margin: auto;
    button{
        text-align: center;
        width: 100%;
        margin: 2rem 0 0 0;
    }
    h1{
        margin: 2rem 0;
    }
}
.img-candado{
    max-width: 25%;
    margin: auto;
}